%%{lib_dirs, []}.

{erl_first_files, ["src/mods/player_behaviour.erl", "src/maps/plugin/map_plugin.erl"]}.


{erl_opts, [
    {parse_transform, lager_transform},
    no_debug_info,
%%    debug_info,
%%    warnings_as_errors,
%%    export_all,
    {d, debug},
%%    {d, product},
    
    {src_dirs, ["src/", "test/"]},
    {i, "include/"},
    {i, "src/maps/include/"},
    {i, "deps/emysql/include"},
    {i, "src/auto/def"},
    {i, "src/auto/mysql"},
    {i, "src/auto/proto"},
    {i, "src/config"},
    {i, "src/load"},
    {i, "src/mods"}

]}.


{port_specs, [
    {"priv/map_math_nif.so", []}
]}.